<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
</head>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">{{app_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav ml-auto">
      <!--<li class="nav-item" *ngIf="isNewRestaurante">
        <a class="nav-link" routerLink="/user/restaurante/restaurante"> <span class="oi oi-plus"></span> Agregar Restaurante
        </a>
      </li>-->
      <li *ngIf="tipoUsuario==='admin'">
        <a routerLink="/admin/secciones" class="nav-link"> <span class="oi oi-list"></span> Programas y cajas </a>
      </li>
      <li *ngIf="tipoUsuario==='admin'">
        <a routerLink="/admin" class="nav-link" > <span class="oi oi-list" ></span> Usuarios</a>
      </li>
      <li>
        <a routerLink="/estadisticas" class="nav-link" *ngIf="tipoUsuario!='admin'"> <span class="oi oi-pie-chart" ></span> Estadisticas</a>
      </li>
      <li *ngIf="tipoUsuario==='profesor'">
        <a routerLink="/turnos" class="nav-link"> <span class="oi oi-list"></span> Mis turnos</a>
      </li>

      <li class="nav-item" *ngIf="tipoUsuario==='asesor'">
        <div class="dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span
              class="oi oi-dollar"></span> Cajas</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let doc of menuCaja;"
              [routerLink]="'/bienvenido/'+doc.id">{{doc.data().nombre}}</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/cambiar-contrasena" class="nav-link"> <span class="oi oi-key"></span> Ajustes
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="onLogout()"> <span class="oi oi-account-logout"></span> Cerrar Sesión
        </a>
      </li>

    </ul>
  </div>
</nav>